<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:fragment="head">
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <link href="/css/sidebar-styles.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </div>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" th:fragment="top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <a sec:authorize="hasRole('ADMIN')" class="nav-link" href="/movie/movieRegister">영화 등록</a>
                <a sec:authorize="hasRole('ADMIN')" class="nav-link" href="/movie/infoRegister">정보 등록</a>
                <li sec:authorize="!hasAnyRole('USER')"class="nav-item active"><a class="nav-link" href="/member/login">로그인</a></li>
                <li class="nav-item dropdown">
                    <a sec:authorize="hasAnyRole('USER')" class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">[[${auth.username}]]</a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/pay/list">예매목록</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">로그아웃</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="border-end bg-white" id="sidebar-wrapper" th:fragment="side">
    <div class="sidebar-heading border-bottom text-center bg-light"><a href="/movie/list">MOVIE7</a></div>
    <div class="list-group list-group-flush" id="movie-date">
    </div>
</div>

</body>
<script th:inline="javascript" th:fragment="script">
<!--    var date = new Date();-->
<!--    var today = date.getFullYear() + "-" + (date.getMonth()+1) + "-" + date.getDate();-->
<!--    for(var i=0; i<5; i++){-->
<!--        var day = (date.getMonth()+1) + "월 " + date.getDate() + "일";-->
<!--        var link = date.getFullYear() + "-" + (date.getMonth()+1) + "-" + date.getDate();-->
<!--        $("#movie-date").append("<a class='list-group-item list-group-item-action list-group-item-light text-center p-3' href='/movie/list?date=" + link + "'>" + day + "</a>");-->
<!--        date.setDate(date.getDate() + 1);-->
<!--    }-->
    var date = parseInt(19);
    for(var i=0; i<5; i++){
        var day = "2월 " + date + "일";
        var link = "2024-02" + "-" + (date++);
        $("#movie-date").append("<a class='list-group-item list-group-item-action list-group-item-light text-center p-3' href='/movie/list?date=" + link + "'>" + day + "</a>");
    }
</script>
</html>

