<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="~{layout/layout :: head}"></div>
</head>
<body>
<div class="d-flex" id="wrapper">
    <div th:replace="~{layout/layout :: side}"></div>
    <div id="page-content-wrapper">
        <div th:replace="~{layout/layout :: top}"></div>
        <div class="d-flex justify-content-center">
            <form class="register-form">
                <div class="w-100 m-3">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">영화 선택</th>
                            <th scope="col">상영 날짜</th>
                            <th scope="col">상영 장소</th>
                            <th scope="col">시작 시간</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody class="inputAddArea">
                        <tr class="inputValue">
                            <td><select class="form-select" aria-label="Default select example" name="movieDTO.mno" >
                                <option th:each="movieDTO, idx :${movieDTOList}" th:value="${idx.count-1}">[[${movieDTO.name}]]</option>
                            </select></td>
                            <td><input type="date" class="" name="date" ></td>
                            <td><input type="text" class="" name="place" ></td>
                            <td><input type="time" class="" name="startTime" ></td>
                            <td><button class="delete-movieInfo btn btn-outline-secondary">X</button></td>
                            <input type="hidden" name="time" th:value="${movieDTOList[0].time}">
                            <input type="hidden" name="mno" th:value="${movieDTOList[0].mno}">
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <div align="right">
                <button class="btn btn-primary float-right register-btn" onclick="return infoRegister()">등록하기</button>
                <button class="movie-add btn btn-secondary float-right">영화 추가</button>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<div th:replace="~{layout/layout :: script}"></div>
<script th:inline="javascript">
    $(".movie-add").click(function(){
        var str = "";
        str += "<tr class='inputValue'>"
        str += '<td><select class="form-select" aria-label="Default select example" name="movieDTO.mno">';
        [# th:each="movieDTO, idx : ${movieDTOList}"]
            str += "<option value='" + [[${idx.count-1}]] + "'>" + [[${movieDTO.name}]] + "</option>";
        [/]
        str += '</select></td>';
        str += '<td><input type="date" class="" name="date" ></td>';
        str += '<td><input type="text" class="" name="place" ></td>';
        str += '<td><input type="time" class="" name="startTime" ></td>';
        str += '<td><button class="delete-movieInfo btn btn-outline-secondary">X</button></td>';
        str += '<input type="hidden" name="time" value="' + [[${movieDTOList[0].time}]] + '">';
        str += '<input type="hidden" name="mno" value="' + [[${movieDTOList[0].mno}]] + '">';
        str += '</tr>';

        $(".inputAddArea").prepend(str);
    });

    function infoRegister(){
        var list = [];
        var flag = 0;
        try{
            $('.inputValue').each(function(index,item){
                var movieInfo = new Object();
                movieInfo.date = $(this).find('input[name=date]').val();
                movieInfo.place = $(this).find('input[name=place]').val();
                movieInfo.startTime = $(this).find('input[name=startTime]').val();
                if(movieInfo.date == "" || movieInfo.place == "" || movieInfo.startTime == ""){
                    alert("모든 정보를 입력해주세요");
                    throw 'finish';
                }
                movieInfo.movieDTO = {mno: $(this).find('input[name=mno]').val(), time: $(this).find('input[name=time]').val()};
                list.push(movieInfo);
            });
        }catch(Exception){
            if (Exception !== 'finish') throw Exception;
            else return false;
        }
        $.ajax({
            url: '/movie/infoRegister',
            method: 'post',
            contentType: 'application/json; charset=uft-8',
            data:  JSON.stringify(list),
            success: function(){
                alert("등록 성공");
                location.replace("/movie/list");
            }
        });
    }

    $(document).on("change", ".form-select", function(){
        var movie = [[${movieDTOList}]];
        $(this).parents(".inputValue").find('input[name=time]').val(movie[$(this).val()].time);
        $(this).parents(".inputValue").find('input[name=mno]').val(movie[$(this).val()].mno);
    });

     $(document).on("click", ".delete-movieInfo", function(){
        $(this).parents(".inputValue").remove();
    });

    function test(test){
       console.log(test);
    }
</script>

</body>
</html>
